body {
    background-color: #fafafa;
}

/* Spin .glyphicon-refresh-animate round and round forever. */
.glyphicon-refresh-animate {
    -webkit-animation: Spin .7s infinite linear;
    -moz-animation: Spin .7s infinite linear;
    animation: Spin .7s infinite linear;
}
@-webkit-keyframes Spin {
    from { -webkit-transform: none; }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes Spin {
    from { -moz-transform: none; }
    to { -moz-transform: rotate(360deg); }
}
@keyframes Spin {
    from { transform: none; }
    to { transform: rotate(360deg); }
}

.muted {
    opacity: 0.38;
}

.contest-thumbnail {
    max-width: 200px;
    width: 100%;
}

.contest-control {
    margin-top: 10px;
    min-width: 100%;
}

.contest-name {
    margin: 1em 0;
}

.entries-container {
    margin-top: 1em;
}

.contest-entry {
    cursor: pointer;
    -webkit-transition: background-color 0.33s ease;
    transition: background-color 0.33s ease;
}

.contest-entry:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

.entry-img {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

@media screen and (orientation:portrait) {
    .contest .title {
        text-align: center;
    }

    .contest .description {
        display: none;
    }

    .contest-control {
        display: block;
    }
}

.judgingBtn {
    margin: 2px;
}
