/*Make default font Verdana (or sans-serif) with 1.5 times the default*/
main {
    font-family: Verdana, sans-serif;
    font-size: 1.5em;
}
/*Make all .contest inline-block with 23% of the screen width. Also, give them 1% margin space on all sides.*/
.contest {
    display: inline-block;
    width: 23%;
    margin: 1%;
}
/*Give all .contest:hover a green background and change the cursor*/
.contest:hover {
    background-color: green;
    cursor: pointer;
}
/*Make all direct children of .contest have block display and center text-align*/
.contest > * {
    display: block;
    text-align: center;
}
/*Make all <img>s in .contest have 75% width and 12.5% margins on both left and right*/
.contest > img {
    width: 75%;
    margin: 0% 12.5%;
}
/*Make all .title underlined and give it hidden overflow with ellipses. Also, make sure the text doesn't go to a new line.*/
.title {
    text-decoration: underline;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/*Make all .small half the font size*/
.small {
    font-size: 0.5em;
}