/*Get rid of vertical margins of the program preview and give the preview a thin solid black border*/
.program-preview {
    margin: 0 auto 0 auto;
    border: 1px solid #000;
}
/*Get rid of borders inside the program preview*/
.program-preview * {
    border: 0;
}
/*Give form parts and <p>s a bigger font size*/
button, label, select, input, p {
    font-size: 1.1em;
}
/*Give form parts some space around them*/
label, select, input {
     margin: 5px;
}