/*Give body a fixed background of lines slanted 45 degrees alternating between two colors.*/
body{
	background: repeating-linear-gradient( 45deg, #3dd439, #3dd439 0.5em, #2CC327 0.5em, #2cc328 1em );
	background-attachment: fixed;
}
/*Give the #loading div centered text*/
#loading {
	text-align: center;
}
/*Have the spin or spin2 animation run infinitely so .glyphicon-refresh-animate spins round and round forever*/
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
/*The following two animations make .glyphicon-refresh-animate spin one full rotation*/
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
/*Give all .contest <div>s a margin, some padding, and a thin solid black border.*/
.contest {
	margin: 5px;
	padding: 20px;
	background:#eee;
	border-radius:6px;
}
/*Give all <img>s within the .contest <div>s a thin dashed black border.*/
.contest img {
  border-radius:6px;
}
/*Add the favicon as background to heading*/
.jumbotron{
    background-image: url('../../Resources/favicon.png');
    background-size: contain;
    background-repeat: no-repeat;
    /*Give it a small black shadow*/
    box-shadow: 0px 0px 1em #000;
    /*No radius at the top*/
    margin-top: -6px;
}