/*Give the #loading div centered text*/
#loading {
	text-align: center;
}
/*Everything inside <summary>s should be inline so the summary doesn't go into multiple lines*/
summary * {
    display: inline;
}
/*Have the spin, spin2, or spin3 animation run infinitely so .glyphicon-refresh-animate spins round and round forever*/
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
    -moz-animation: spin3 .7s infinite linear;
}
/*The following three animations make .glyphicon-refresh-animate spin one full rotation*/
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin3 {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
/*Give all .contest and .entry <div>s a margin, some padding, and a thin solid black border.*/
.contest, .entry {
	margin: 5px;
	padding: 20px;
	border: 1px solid #000;
}
/*Give all <img>s within the .contest and .entry <div>s a thin dashed black border.*/
.contest img, .entry img {
    border: 1px dashed #000;
}
/*Give the links to the entries 5px of vertical margin and full width*/
.viewEntries {
    margin: 5px auto 5px auto;
    width: 100%;
}
/* Make the login button and more contests button invisible by default. */
.login, #more-contests {
    display: none;
}
/* Make the #more-contests take up the same width as its parent and give it some vertical space. */
#more-contests {
    width: 100%;
    margin: 1em 0;
}